*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
body {
    font-family:poppins;
}
header{
    background-color:#202125;
    display: flex;
    border-radius: 2px; 
    z-index: 1;
    justify-content: space-between;
}
header{
    position: fixed;
    width: 100%;
    height: 23.5%;
}
nav{
    padding: 3px 40px;
    position: fixed;
    width: 100%;
    display: flex;  
    justify-content: space-between;

}
nav ul {
    position: relative;
    margin-left: 30px;
    list-style: none;
    align-items: center;
    margin: 0;

}
nav ul li {
    display:inline-block;

}
nav ul li a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-size: 17px;
    padding: 0px 9px;
    transition: .4s;
    line-height: 110px;
}
nav ul li a:hover{
    text-decoration: none;
    transition: .8s;
    border-bottom: 3px solid rgb(58, 55, 55);
    border-radius: 60px;
}
nav ul li a.active {
    background-color: lightseagreen;
    font-weight: 500;
    border-radius: 0.2vw;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-right: 6px;
    border-bottom: 2px solid rgb(73, 69, 69);
}
nav ul li a.active:hover{
    border-radius: 30px;
    color: #202125;
}
.button a:hover{
    background-color: white;
    color: black;
}
nav ul ul{
    position:absolute;
    top: 65px;
    display:block;
    opacity: 0;
    visibility: hidden;
    background-color:rgb(24, 21, 21);
    text-align: center;
    border-radius: 8px;
}
nav ul li:hover>ul {
    top: 76px;
    opacity: 10;
    visibility: visible;
    transition: .4s linear;
    border-top: 2px solid rgb(58, 55, 55);

}
nav ul ul li {
    width: 150px;
    position: relative;
    border-top: hidden;
    border-bottom: 1px solid rgb(58, 55, 55);
}
nav ul ul li a {
    line-height: 40px;
    width: 100%;
}

nav ul ul ul {
    border-top: none;
}


nav ul ul li a i {
    margin-left: 50px;
}
.logo{
    float: right;
    padding: -70px 0px;
    margin-right: -5%;
}
.logo img{
    width: 55%;
    background-color: transparent;
    padding: 2px 4px 2px;
    margin-bottom:2%;
    border-radius: 20px;
    transition: .5s;
}
.logo img:hover{
    border-radius: 30px;
    transition: .8s;
    border-bottom: 2px solid rgb(98, 90, 90);
    background-color: #292c35;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#202125;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 28px;
    border-top: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
     text-decoration: none;
     transition: .8s;
     border-bottom: 3px solid rgb(58, 55, 55);
     border-radius: 60px;
     background-color: white;
     color: black;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.display{
    display: none;
}
span{
    display: none;
    border-radius: 10px;
    background:#202125;
}
span img{
    padding: 15px 10px;
   
}
span img:hover{
     border-radius: 30px;
     transition: .8s;
     border-bottom: 2px solid rgb(98, 90, 90);
     background-color: #292c35;
}
.middle-section {
    width: 100%;
    height: 450px;
    position: fixed;
    top: 0%;
    background-image: url(image/bg2.png);
    background-size: cover;
    background-position: center;
}
.middle-section img{
    width: 50%;
}

.middle-section h2 {
    padding-top: 18%;
    font-size: 50px;
    font-family: poppins;
    text-transform: uppercase;
    color:whitesmoke;
    text-align: center;
}

.content-area {
    width: 100%;
    position: relative;
    top: 470px;
    background: #ebebeb;
    height: 1700px;
    border-radius: 18px;

}

.content-area h2 {
    font-family: poppins;
    letter-spacing: 2px;
    padding-top: 40px;
    font-size: 35px;
    margin: 0;
    text-align: center;
}

.content-area p {
    padding: 7% 0px;
    font-family: poppins;
    line-height: 20px;
}
.newlogo{
    display: none;
}
.display{
    justify-content: space-between;
}
