*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
@media only screen and (max-width:1500px) {
  header {
    height: 20%;
  }

  nav ul li a {
    font-size: 15px;
    line-height: 100px;
  }

  .logo img {
    width: 47%;
  }

  .middle-section h2 {
    padding-top: 20%;
    font-size: 250%;

  }

  .content-area {
    top: 450px;
    height: 1000px;
  }

  .content-area h2 {
    padding-top: 60px;
    font-size: 30px;
  }

  .content-area p {
    padding: 8% 0px;

  }
@media only screen and (max-width:1200px){
  header {
    height: 21%;
  }
  nav ul li a {
    font-size: 14px;
    line-height: 100px;
  }
  .logo img {
    width: 44%;
  }
  .middle-section h2 {
    padding-top: 20%;
    font-size: 250%;

  }

  .content-area {
    top: 390px;
    height: 1000px;
  }

  .content-area h2 {
    padding-top: 38px;
    font-size: 29px;
  }

  .content-area p {
    padding: 6% 0px;

}
@media only screen and (max-width:1100px){
  header {
    height: 17%;
  }

  nav ul li a {
    font-size: 14px;
  }

  .logo img {
    width: 44%;
  }
  nav {
    padding: 5px 40px;
  }
  .middle-section h2 {
    padding-top: 22%;
  }
  .middle-section h2 {
    padding-top: 20%;
    font-size: 250%;

  }

  .content-area {

    height: 1000px;
  }

  .content-area h2 {
    padding-top: 27px;
    font-size: 25px;
  }

  .content-area p {
    padding: 6% 0px;

}
@media only screen and (max-width:1050px) {
  header {
    height: 22%;
  }

  nav ul li a {
    font-size: 12px;
  }

  .logo img {
    width: 41%;
  }

  nav {
    padding: 5px 40px;
  }

  .middle-section h2 {
    padding-top: 20%;
    font-size: 250%;

  }
  .content-area {
    top: 360px;
    height: 1000px;
  }

  .content-area h2 {
    padding-top: 27px;
    font-size: 25px;
  }
  .content-area p {
    padding: 6% 0px;
  }
}
@media only screen and (max-width:1050px) {
  header {
    height: 22%;
  }

  nav ul li a {
    font-size: 12px;
  }

  .logo img {
    width: 41%;
  }

  nav {
    padding: 5px 40px;
  }

  .middle-section h2 {
    padding-top: 20%;
    font-size: 250%;

  }

  .content-area {
    top: 360px;
    height: 1000px;
  }

  .content-area h2 {
    padding-top: 27px;
    font-size: 25px;
  }

  .content-area p {
    padding: 6% 0px;
  }

}
@media only screen and (max-width:950px) {
  header {
    height: 24%;
  }

  nav ul li a {
    font-size: 10px;
  }

  .logo img {
    width: 38%;
  }

  nav {
    padding:1px 40px;
  }

  .middle-section h2 {
    padding-top: 20%;
    font-size: 200%;

  }

  .content-area {
    top: 300px;
    height: 1000px;
  }

  .content-area h2 {
    padding-top: 27px;
    font-size: 21px;
  }

  .content-area p {
    padding: 6% 0px;
  }

}
@media only screen and (max-width:880px) {
  header {
    height: 25%;
  }

  nav ul li a {
    font-size: 10px;
  }

  .logo img {
    width: 38%;
  }

  nav {
    padding: 1px 40px;
  }

  .middle-section h2 {
    padding-top: 20%;
    font-size: 200%;

  }

  .content-area {
    top: 300px;
    height: 1000px;
  }

  .content-area h2 {
    padding-top: 27px;
    font-size: 21px;
  }

  .content-area p {
    padding: 6% 0px;
  }

}
@media only screen and (max-width:800px) {
  header {
    height: 10%;
  }

  nav ul li a {
    font-size: 10px;
  }

  .logo img {
    width: 39%;
  }

  nav {
    padding: 1px 50px;
  }

  .middle-section h2 {
    padding-top: 25%;
    font-size: 200%;

  }

  .content-area {
    top: 380px;
    height: 1000px;
  }

  .content-area h2 {
    padding-top: 27px;
    font-size: 21px;
  }

  .content-area p {
    padding: 6% 0px;
  }
}
@media only screen and (max-width:730px) {
  header {
    height: 20%;
  }

  nav ul li a {
    font-size: 10px;
  }

  .logo img {
    width: 38%;
  }

  nav {
    padding: 1px 40px;
  }

  .middle-section h2 {
    padding-top: 20%;
    font-size: 200%;

  }

  .content-area {
    top: 300px;
    height: 1000px;
  }

  .content-area h2 {
    padding-top: 27px;
    font-size: 21px;
  }

  .content-area p {
    padding: 6% 0px;
  }

}
@media only screen and (max-width:760px){
  header {
    height: 13%;
  }

  nav ul li a {
    font-size: 13px;
  }
  nav {
    padding: 8px 40px;
  }

  .logo img {
    width: 40%;
  }
  .logo {
    float: right;
    padding: -50px 0px;
    margin-right: -18%;

  }
  .middle-section h2 {
    padding-top: 32%;

  }
}
@media only screen and (max-width:690px) {
  header {
    height: 13%;
  }
  nav ul li a {
    font-size: 10px;
    line-height: 80px;
  }

  .logo img {
    width: 29%;
  }

  .logo {
    float: right;
    padding: -10px 0px;
    margin-right: -25%;
  }
  .middle-section h2 {
    padding-top: 50%;
    font-size:250%;

  }
}
@media only screen and (max-width:590px) {
  header {
    height: 16%;
  }

  nav ul li a {
    font-size: 9px;
    line-height: 80px;
  }

  .logo img {
    width: 26%;
  }

  .logo {
    float: right;
    padding: -10px 0px;
    margin-right: -27%;
  }
}
@media only screen and (max-width:430px) {
  .ul{
    display: none;
  }
  header{
    height: 12%;
  }
  .display {
    display: flex;
  }
  span {
    display: flex;
    margin-right: 190px;
  }
  .logo img {
    width: 35%;
  }
  .logo{
    float: right;
    padding: -30px 0px;
    margin-right: -70%;
    line-height: 5%;
    }
    span img {
      padding: 26px 10px;
    }
     .middle-section h2 {
       padding-top: 43%;
       font-size: 29px;
     }
}
@media only screen and (max-width:390px) {
  .ul {
    display: none;
  }

  header {
    height: 12%;
  }

  .display {
    display: flex;
  }

  span {
    display: flex;
    margin-right: 170px;
  }

  .logo img {
    width: 25%;
  }

  .logo {
    float: right;
    padding: -30px 0px;
    margin-right: -60%;
  }
   span img {
     padding: 26px 15px;

   }
   .middle-section h2 {
     padding-top: 48%;
     font-size: 27px;
   }
}
 @media only screen and (max-width:360px) { 
  .ul {
    display: none;
  }

  header {
    height: 12%;
  }

  .display {
    display: flex;
  }

  span {
    display: flex;
    margin-right: 140px;
  }

  .logo img {
    width: 28%;
    line-height: 5%;
  }
   span img {
     padding: 23px 15px;

   }

  .logo {
    float: right;

    margin-right: -60%;
  }
}
